@model Dbcar.Models.Entity.TblSatislar
@{
    ViewBag.Title = "YeniKayit";
    Layout = "~/Views/Shared/_MainLayaout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün ID</label>
        @Html.TextBoxFor(m => m.Urun, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Urun, "", new { @style = "color:red" })
        <br />
        <label>Müşteri ID</label>
        @Html.TextBoxFor(m => m.Musteri, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Musteri, "", new { @style = "color:red" })
        <br />
        <label>Adet</label>
        @Html.TextBoxFor(m => m.Adet, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Adet, "", new { @style = "color:red" })
        <br />
        <label>Fiyat</label>
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Fiyat, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-info" id="btn1">Yeni Satış Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Satış Ekleme İşlemi Gerçekleştirildi.')
        });
    </script>
</form>

