@model Dbcar.Models.Entity.TblUrun
@{
    ViewBag.Title = "YeniKayit";
    Layout = "~/Views/Shared/_MainLayaout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        @Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UrunAd, "", new { @style = "color:red" })
        <br />
        <label>Ürün Kategorisi</label>
        @Html.TextBoxFor(m => m.UrunKategori, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UrunKategori, "", new { @style = "color:red" })
        <br />
        <label>Fiyat</label>
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Fiyat, "", new { @style = "color:red" })
        <br />
        <label>Stok</label>
        @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stok, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:20px;">
        <button class="btn btn-info" id="btn1">Yeni Ürün Oluştur</button>
    </div>
    <script>
        $('#btn1').click(function () {
            alert('Ürün Ekleme İşlemi Gerçekleştirildi.');
        });
    </script>
</form>
